.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  border: none;
  font-family: var(--type-first);
  font-size: 1.25rem;
  line-height: 1;
  width: 26rem;
  height: 3rem;
  border-radius: 6.5rem;
  color: #fff;
  background: #000;
  margin-top: 3rem;
  cursor: pointer;
}

@media (max-width: 55rem) {
  .button {
    font-size: 0.8rem;
    line-height: 1;
    width: 100%;
  }
}
